@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gilroy';
        src: url('../fonts/Gilroy-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
  }

* {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;

}

.scroll::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 3px;
}
.scroll::-webkit-scrollbar-thumb {
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
	background-color: #31669400;
    height: 20px;
}
.scroll:hover::-webkit-scrollbar-thumb {
    background-color: #316694;
}
.scroll::-webkit-scrollbar-track-piece:start {
    margin-top: 48px;
}

.clicked:focus::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 41px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #00B3CB;
    box-shadow: 0px 0px 4px #00B3CB;
}